/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Volkhov:wght@400;700&display=swap');


/* Common CSS */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container {
   width: 1200px;
   margin: 0 auto;
   padding: 0 20px;
}

body {
   font-family: 'Poppins', sans-serif;
   font-weight: 400;
}

h1 {
   font-family: 'Volkhov', serif;
}

h2 {
   color: #14183E;
   font-size: 32px;
}

.btn {
   background: #F1A501;
   box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
   border-radius: 10px; 
   padding: 15px 35px;
   color: #fff;
   outline: none;
   border: none;
   font-size: 18px;
   font-weight: 500;
}

a {
   text-decoration: none;
}

ul li {
   list-style: none;
}

.tagline {
   text-transform: uppercase;
}



/* Nav Section */
nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 20px;
}

.logo-area img {
   width: 100%;
}

.nav-area ul {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.nav-area ul li {
   margin-left: 20px;
   padding: 2px 5px;
}

.nav-area ul li:last-child {
   border: 1px solid #212832;
   border-radius: 5px;
}


/* Hero Section */
#header {
   background-image: url(images/hero-bg.png);
   background-position: top right;
   background-repeat: no-repeat;
   background-size: auto;
   padding-top: 30px;
}
.hero {
   padding: 50px 0;
   display: flex;
   align-items: center;
   height: 100%; 
}

.hero-left {
   width: 50%;
}

.hero-left h6 {
   font-size: 20px;
   font-weight: 700;
}

.hero-left p {
   font-size: 16px;
   line-height: 30px;
   margin: 20px 0;
}

.hero-left h1 {
   font-size: 84px;
}

.hero-left .btn-group {
   display: flex;
   align-items: center;
}

.play-demo {
   display: flex;
   align-items: center;
   margin-left: 50px;
}

.play-demo i {
   font-size: 52px;
   color: #DF6951;
   display: inline-block;
   margin-right: 20px;
}

.hero-right {
   width: 50%;
}

.hero-right img{
   width: 100%;
}


/* Catergory Section */
.category {
   margin: 20px 0;
   padding: 20px 0;
}
.category p {
   text-align: center;
}

.category h2 {
   text-align: center;
   font-size: 32px;
   margin: 20px 0;
}

.category-item {
   margin-top: 30px;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 20px;
   text-align: center;
   justify-content: center;
}

.category-box {
   box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
   padding: 50px 30px;
   border-radius: 50px;
}

.category-icon {
   font-size: 52px;
   color: #DF6951;
}

.category-box h3 {
   font-size: 22px;
   margin: 10px 0;
}


/* Selling Section */
.selling {
   text-align: center;
}

.selling h2 {
   margin-top: 10px;
   margin-bottom: 20px;
}

.selling-item {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 20px;
}

.selling-box {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   padding-top: 600px;
   border-radius: 20px;
   margin-bottom: -50px;
}

.selling-box1 {
   background-image: url(images/desti-1.png);
}
.selling-box2 {
   background-image: url(images/desti-2.jpg);
}
.selling-box3 {
   background-image: url(images/desti3.png);
}

.country-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   justify-content: center;
   margin-top: -150px;
}

.country-container .country {
   margin-right: 20px;
}

.days {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 15px;
}

.days i {
   margin-right: 10px;
   color: #DF6951;
}



/* Trip Section */
.trip {
   margin: 50px 0;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   justify-content: center;
   align-items: center;
   grid-gap: 20px;
}

.trip-left p {
   font-weight: bold;
}

.trip-left h2 {
   font-size: 32px;
   margin: 30px 0;
}

.easy-box {
   display: flex;
   align-items: center;
   margin: 30px 0;
}

.easy-icon {
   width: 120px;
   height: 80px;
   background: #F0BB1F;
   color: #fff;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 20px;
} 

.easy-box i {
   font-size: 52px;
}

.easy-text h5 {
   font-size: 14px;
   font-weight: 700;
   margin-bottom: 5px;
}

.easy-text p {
   font-size: 18px;
   font-weight: 400;
}

.trip-right {
   display: flex;
   justify-content: center;
   align-items: center;
}

.trip-right .trip-box {
   padding: 30px;
   border-radius: 20px;
   box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.150);
}

.trip-box h3 {
   font-weight: 400;
   margin: 10px 0;
}

.trip-box img {
   width: 100%;
}

.trip-box p {
   color: #84829A;
}

.trip-box i {
   color: #84829A;
   padding: 10px;
   background: #F5F5F5;
}

.trip-icon {
   display: flex;
   align-items: center;
   margin: 20px 0;
}

.trip-icon i {
   margin-right: 20px;
   width: 30px;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
}

.trip-box .trip-footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.trip-box .trip-footer i {
   width: 30px;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
}



/* Testimonial Section */
.testimonial {
   text-align: center;
   margin: 70px 0;
}

.testimonial h2 {
   margin-bottom: 30px;
}

.testimonial-item {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.testimonial-box {
   max-width: 700px;
   box-shadow: 0px 0px 30px #14183e3a;
   padding: 30px;
   margin-top: 50px;
   border-radius: 20px;
}

.testimonial-box .person-image {
   width: 80px;
   height: 80px;
   margin-top: -60px;
}

.testimonial-box .person-text {
   margin: 10px 0;
}

.testimonial-box .person-name {
   display: inline-block;
   font-weight: 700;
   margin-top: 15px;
}

.testimonial-box .person-head {
   font-size: 12px;
   font-weight: 700;
}



/* Brand Section */
.brand {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   justify-content: space-between;
   align-items: center;
   grid-gap: 20px;
   margin: 70px 0;
}

.brand-item {
   max-width: 150px;
}

.brand-item img {
   width: 100%;
   height: 100%;
}


/* Subscribe Section */
.subscribe {
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

.subscribe-item {
   max-width: 800px;
}

.subscribe h3 {
   font-size: 33px;
}

.input-area input{
   margin: 30px;
   width: 70%;
   height: 30px;
   padding: 20px;
   font-size: 18px;
   border: 1px solid #F1A501;
   border-radius: 5px;
}

.input-area input:focus {
   outline: none;
   box-shadow: 0px 0px 40px #f1a50179;
}

/* Footer Section */
footer p,
footer li a {
   font-size: 14px;
}

.footer-item {
   margin-top: 60px;
   display: grid;
   grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
   grid-gap: 10px;
   justify-content: space-between;
}

.footer-box {
   padding: 10px;
}

.footer-margin-bottom {
   margin-bottom: 20px;
}

.social ul {
   display: flex;
}

.social ul li {
   margin-right: 15px;
   width: 40px;
   height: 40px;
   background: red;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   background: #F5F5F5;
}

.social ul li a {
   font-size: 18px;
}

.social ul li a .fa-facebook-f {
   color: #1877f2;
}

.social ul li a .fa-instagram {
   color: #c32aa3;
}

.social ul li a .fa-linkedin-in {
   color: #0a66c2;
}

.app {
   display: flex;
   margin-top: 10px;
}

.app .mobile {
   margin-right: 20px;
}

.copyright {
   text-align: center;
   margin: 20px 0;
}



/* Media Queary */
/* Desktop */
@media (max-width: 1200px){
   .container {
      width: 100%;
      padding: 0 20px;
   }
   nav {
      padding: 30px 0;
   }
   .hero-left h6 {
      font-size: 18px;
      margin: 20px 0;
   }
}

/* Laptop */
@media (max-width: 992px) {
   nav {
      padding: 30px 0;
   }
   .hero {
      display: block; 
   }
   .hero-left {
      width: 100%;
      margin-bottom: 30px;
   }

   .hero-right {
      width: 100%;
   }
   .category-item {
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 35px;
   }

   .footer-item {
      grid-template-columns: 2fr 1fr 1fr;
      grid-row-gap: 50px;
   }
}


@media (max-width: 768px) {
   .nav-area {
      display: none;
   }
   .hero-left h1 {
      font-size: 70px;
  }
  .selling-item {
   grid-template-columns: repeat(2, 1fr);
  }
  .trip {
   grid-template-columns: repeat(1, 1fr);
  }
  .footer-item {
   grid-template-columns: 2fr 1fr;
   grid-row-gap: 50px;
  }
}

/* Mobile */
@media (Max-width: 570px) {
   .hero-left h1 {
      font-size: 50px;
  }
  .hero-left h6  {
     font-size: 15px;
  }
  .hero-left .btn-group {
     display: block;
  }
  .btn-hero {
     margin-bottom: 30px;
     display: inline-block;
  }
  .play-demo {
     margin-left: 0;
  }
  .category-item {
   grid-template-columns: repeat(1, 1fr);
   grid-row-gap: 35px;
  }
  .selling-item {
   grid-template-columns: repeat(1, 1fr);
  }
  .country-container {
   margin-top: -130px;
  }
  .brand {
   grid-template-columns: repeat(3, 1fr);
  }

  .footer-item {
   grid-template-columns: 1fr;
   grid-row-gap: 50px;
   text-align: center;
  }
  .footer-item .social ul {
     justify-content: center;
  }
  .app {
     justify-content: center;
  }
}